.sidebar {
  max-height: 100vh;
  flex: 0 0 350px;
  border-right: 1px solid #ccc;
  padding: 5px;
  overflow: hidden;
}

.search-input {
  width: 100%;
  border-radius: 5px;
  height: 25px;
  border: 1px solid #ccc;
}

.slider-input {
  width: 100%;
  height: 25px;
  border: 1px solid #ccc;
}

.input-buttons {
  background-color: #24a3ff;
  color: #57626c;
  border: none;
  width: 50%;
  padding: 15px;
}

.left-button {
  background-color: #ff6a3b;
}

.right-button {
  margin-left: 5px;
}

.sidebar-top,
.sidebar-bottom {
}

.sidebar-top {
  box-shadow: 0 1px 3px rgba(0,0,0,.14);
}

.sidebar-group {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.sidebar-bottom {
  background-color: #fafbfc;
  overflow-y: scroll;
  height: 100%;
}

.card {
  background-color: #fff;
  min-height: 75px;
  border: 1px solid #ccc;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,.14);
}

.card-details {
  flex: 1 1 25%;
  padding: 5px;
  color: #444;
}

.card-depth {
  color: #57626c;

  font-size: 20px;
  font-weight: 700;

  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
